h1 {
    color: #2399e5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}
h2, h3 {
    color: #2399e5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
}