<h3>Welcome!</h3>
<h2>Registered Users are: </h2>
    <table>
        <tr>
            <th>Name</th>
            <th>last name</th>
            <th>first name</th>
        </tr>
        <tr *ngFor="toDo of foo">
            <td>{{toDo}}</td>
            <td>{{toDo}}</td>
        </tr>
    </table>

<button pButton type="button" (click)="logOut()" label="Log Out"></button>